.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--logo-color);
  text-decoration: none;
  padding: 16px auto 16px 15px;
}
@media screen and (min-width: 400px) {
}
@media screen and (min-width: 768px) {
  .logo {
    display: none;
    // font-family: Raleway;
    // font-weight: 700;
    // font-size: 24px;
    // line-height: calc(28 / 24);
    // color: var(--logo-color);
    // text-decoration: none;
    // padding: 16px auto 16px 15px;
  }
}

.logo-sab {
  color: var(--logo-sab-color);
}
// .logo {
//   font-family: 'Raleway', sans-serif;
//   font-size: 26px;
//   line-height: calc(31 / 26);
//   color: var(--logo-color);
//   text-decoration: none;
// }
