.main-team {
  background-color: #f5f4fa;
}

.main-team-main-list {
  display: flex;
  margin-top: 50px;
  margin-left: calc(
    -1 * var(--main-margin-btwn-inf)
  );
}

.main-team-main-list > .item {
  flex-basis: calc(
    100% / 4
      calc(-1 * var(--main-margin-btwn-inf))
  );
  margin-left: var(--main-margin-btwn-inf);
  width: 270px;
}

.main-team-content {
  background-color: var(--background-color-html);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.main-team-social-list {
  display: flex;
  width: 206px;
  height: 44px;
  & .item + .item {
    margin-left: 8px;
  }
}

.link-social {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border-color: transparent;
  border-radius: 50%;
  color: #afb1b8;
  padding: 12px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--link-focus);
  }
}
.main-team-social-item {
  fill: currentColor;
}
.card {
  box-shadow: var(--card-shadow);
}

.main-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
}

.main-team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-text-p);
  margin-bottom: 16px;
}
