:root {
  --background-color-html: #fff;
  --main-txt-color: #212121;
  --active-html: #2196f3;
  --logo-color: #000;
  --logo-sab-color: #2196f3;
  --info-head: #757575;
  --nav: #212121;
  --link-main-color: #212121;
  --link-focus: #2196f3;
  --main-hero-background: #c4c4c4;
  --main-title-txt: #ffffff;
  --main-button-background: #2196f3;
  --main-button-txt: #fff;
  --main-text-p: #757575;
  --footer-background-color: #2f303a;
  --footer-adress: #fff;
  --footer-info: rgba(255, 255, 255, 0.6);
  --portf-button-txt: #212121;
  --portf-button-background: #f5f4fa;
  --portf-work-title: #212121;
  --portf-work-text: #757575;
  --portf-focus-button-txt: #ffffff;
  --main-margin-btwn-inf: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --main-pading-cont: 94px;
  --modal-btn-bg: #188ce8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  background-color: var(--background-color-html);
  font-family: 'Roboto', sans-serif;
  color: var(--main-txt-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: var(--main-pading-cont);
  padding-top: var(--main-pading-cont);
}

.btn {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  transition-property: background-color, color,
    box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
}
.link {
  text-decoration: none;
  color: var(--link-main-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.list {
  list-style: none;
}
